In [24]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import pymorphy2

## Women

In [42]:
women_df_one = pd.read_csv("women_matched.csv")
women_df_one.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,6,нахуя свинозагонные русофильские пидорюндели ...,да этот загон ебаный надо удалять уже почему ...,True,True,0.994447,0.997482,Нахуя свинозагонные русофильские пидорюндели ...,Да этот загон ебаный надо удалять уже почему ...,"['да', 'этот', 'загон', 'ебаный', 'надо', 'уда...",сука,women

In [43]:
len(women_df_one)

2388

In [44]:
women_df_multi = pd.read_csv("women_multiple_matched.csv")
women_df_multi.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,1,всем привет. вчера в b увидел фото с ру брони...,"хочу лизать ей пизду и ебать анус, а лучше еб...",False,True,0.000876,0.997648,Всем привет. Вчера в b увидел фото с Ру Брони...,"Хочу лизать ей пизду и ебать анус, а лучше еб...","['хотеть', 'лизать', 'она', 'пизда', 'и', 'еба...",пизда,women

In [45]:
len(women_df_multi)

2432

## Lgbt

In [46]:
lgbt_df_one = pd.read_csv("lgbt_matched.csv")
lgbt_df_one.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,12,я думал на земле нет таких людей которые смогл...,я хуесос сосу хуй за иди нахуй даун иди нахуй ...,False,True,0.001034,0.997463,я думал на земле нет таких людей которые смогл...,Я ХУЕСОС СОСУ ХУЙ ЗА 20 ИДИ НАХУЙ ДАУН ИДИ НАХ...,"['я', 'хуесос', 'сосать', 'хуй', 'за', 'идти',...",хуесос,lgbt

In [47]:
len(lgbt_df_one)

998

In [48]:
lgbt_df_multi = pd.read_csv("lgbt_multiple_matched.csv")
lgbt_df_multi.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,172,ты пока писал блядина сто хуев успел насосать ...,обвафленный хуеплет и сын блядушника и попугая...,True,True,0.997342,0.997235,ты пока писал блядина сто хуев успел насосать ...,обвафленный хуеплет и сын блядушника и попугая...,"['обвафленный', 'хуепгод', 'и', 'сын', 'блядуш...",дырявый,lgbt

In [49]:
len(lgbt_df_multi)

333

## Migrants

In [50]:
migrant_df_one = pd.read_csv("migrant_matched.csv")
migrant_df_one.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,6,нахуя свинозагонные русофильские пидорюндели ...,да этот загон ебаный надо удалять уже почему ...,True,True,0.994447,0.997482,Нахуя свинозагонные русофильские пидорюндели ...,Да этот загон ебаный надо удалять уже почему ...,"['да', 'этот', 'загон', 'ебаный', 'надо', 'уда...",абу,migrants

In [51]:
len(migrant_df_one)

531

In [52]:
migrant_df_multi = pd.read_csv("migrant_multiple_matched.csv")
migrant_df_multi.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,193,"надеемся, что правоохранительные органы заинт...",выкинуть нахуй из рашки обезьяны заебали хуйне...,False,True,0.000286,0.997219,"Надеемся, что правоохранительные органы заинт...",выкинуть нахуй из рашки обезьяны заебали хуйне...,"['выкинуть', 'нахуй', 'из', 'рашка', 'обезьяна...",обезьяна,migrants

In [53]:
len(migrant_df_multi)

99

## Men

In [54]:
man_df_one = pd.read_csv("man_matched.csv")
man_df_one.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,10,сын шлюхи плакаты от картин уже отличить не мо...,ты хуеплет ебаный с еблищем огр мага нахуй воо...,True,True,0.979576,0.997473,сын шлюхи плакаты от картин уже отличить не мо...,ты хуеплет ебаный с еблищем огр мага нахуй воо...,"['ты', 'хуепгод', 'ебаный', 'с', 'еблискать', ...",хуеплет,man

In [55]:
len(man_df_one)

4572

In [74]:
man_df_multi = pd.read_csv("man_multiple_matched.csv")
man_df_multi.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,8,"да все холодные страны можно, на глубине км у...","хуй ты мой сосал, пися недоразвитая. я твою с...",False,True,0.000389,0.997477,"Да все холодные страны можно, на глубине 5км ...","Хуй ты мой сосал, пися недоразвитая. Я твою с...","['хуй', 'ты', 'мой', 'сосал,', 'пися', 'недора...",хуй,man

In [75]:
len(man_df_multi)

4285

## Born place

In [58]:
born_place_df_one = pd.read_csv("born_place_matched.csv")
born_place_df_one.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,49,бля зоны роста это когда хрящи костей заполня...,"блять уебок ебучий, я тебе сказал нахуй я гото...",True,True,0.913245,0.997365,Бля зоны роста это когда хрящи костей заполня...,"блять уебок ебучий, я тебе сказал нахуй я гото...","['блять', 'уебок', 'ебучий,', 'я', 'ты', 'сказ...",хохол,born_place

In [59]:
len(born_place_df_one)

1328

In [60]:
born_place_df_multi = pd.read_csv("born_place_multiple.csv")
born_place_df_multi.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,49,бля зоны роста это когда хрящи костей заполня...,"блять уебок ебучий, я тебе сказал нахуй я гото...",True,True,0.913245,0.997365,Бля зоны роста это когда хрящи костей заполня...,"блять уебок ебучий, я тебе сказал нахуй я гото...","['блять', 'уебок', 'ебучий,', 'я', 'ты', 'сказ...",хохол,born_place

In [61]:
len(born_place_df_multi)

613

## Child

In [62]:
child_df_one = pd.read_csv("child_matched.csv")
child_df_one.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,6,нахуя свинозагонные русофильские пидорюндели ...,да этот загон ебаный надо удалять уже почему ...,True,True,0.994447,0.997482,Нахуя свинозагонные русофильские пидорюндели ...,Да этот загон ебаный надо удалять уже почему ...,"['да', 'этот', 'загон', 'ебаный', 'надо', 'уда...",выблядок,child

In [63]:
len(child_df_one)

421

In [64]:
child_df_multi = pd.read_csv("child_multiple.csv")
child_df_multi.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,40446,какой же ты все-таки самовлюбленный дегенерат...,"самовлюбленный дегенерата это лучше или хуже,...",True,True,0.992399,0.982322,Какой же ты все-таки самовлюбленный дегенерат...,"самовлюбленный дегенератА это лучше или хуже,...","['самовлюблённый', 'дегенерат', 'это', 'хороши...",крысеныш,child

In [65]:
len(child_df_multi)

1

## Others

In [66]:
others_df = pd.read_csv("others_words.csv")
others_df.head(1)

,Unnamed: 0,Unnamed: 0.1,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,0,10,сын шлюхи плакаты от картин уже отличить не мо...,ты хуеплет ебаный с еблищем огр мага нахуй воо...,True,True,0.979576,0.997473,сын шлюхи плакаты от картин уже отличить не мо...,ты хуеплет ебаный с еблищем огр мага нахуй воо...,"['ты', 'хуепгод', 'ебаный', 'с', 'еблискать', ...",хуеплет,other

In [67]:
len(others_df)

2105

# Concatenate all categories

In [68]:
res_df = pd.concat([
    women_df_one,
    women_df_multi,
    migrant_df_one,
    migrant_df_multi,
    man_df_one,
    man_df_multi,
    born_place_df_one,
    born_place_df_multi,
    child_df_one,
    child_df_multi,
    others_df
])
# забыла лгбт, но переделала

In [69]:
res_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18775 entries, 0 to 2104
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          18775 non-null  int64
 1   Unnamed: 0.1        18775 non-null  int64
 2   Реплика 1 toxicity  18775 non-null  object
 3   Реплика 2 toxicity  18775 non-null  object
 4   Результат 1         18775 non-null  bool
 5   Результат 2         18775 non-null  bool
 6   Значение 1          18775 non-null  float64
 7   Значение 2          18775 non-null  float64
 8   Реплика 1 original  18775 non-null  object
 9   Реплика 2 original  18775 non-null  object
 10  Реплика 2 lemma     18775 non-null  object
 11  Выделенные слова    18775 non-null  object
 12  target_group        18775 non-null  object
dtypes: bool(2), float64(2), int64(2), object(7)
memory usage: 1.8+ MB

In [70]:
len(res_df)

18775

In [71]:
del res_df["Unnamed: 0"]
del res_df["Unnamed: 0.1"]

In [72]:
res_df.head()

,Реплика 1 toxicity,Реплика 2 toxicity,Результат 1,Результат 2,Значение 1,Значение 2,Реплика 1 original,Реплика 2 original,Реплика 2 lemma,Выделенные слова,target_group
0,нахуя свинозагонные русофильские пидорюндели ...,да этот загон ебаный надо удалять уже почему ...,True,True,0.994447,0.997482,Нахуя свинозагонные русофильские пидорюндели ...,Да этот загон ебаный надо удалять уже почему ...,"['да', 'этот', 'загон', 'ебаный', 'надо', 'уда...",сука,women
1,байден подписал законопроект об увеличении в ...,я маму этого хуяйдена ебал пусть в лицо скажет...,False,True,0.000438,0.997479,Байден подписал законопроект об увеличении в ...,я маму этого хуяйдена ебал ПУСТЬ В ЛИЦО СКАЖЕТ...,"['я', 'мама', 'это', 'хуяйден', 'ебал', 'пусть...",сука,women
2,долбаебы оп сказал про гипоталамус и как задей...,"гипохуямус, блять, нихуя не понятно... я хочу ...",True,True,0.990614,0.997426,долбаебы ОП сказал про гипоталамус и как задей...,"гипохуямус, блять, нихуя не понятно... Я хочу ...","['гипохуямус,', 'блять,', 'нихуй', 'не', 'поня...",сука,women
3,человека все устраивает в жизни и он всем дово...,у тебя когда папа видет хуй надроченный у него...,False,True,0.000719,0.997416,человека все устраивает в жизни и он всем дово...,У ТЕБЯ КОГДА ПАПА ВИДЕТ ХУЙ НАДРОЧЕННЫЙ У НЕГО...,"['у', 'ты', 'когда', 'папа', 'видти', 'хуй', '...",сука,women
4,итт я буду восстанавливать сей гениальный опус...,еб твою мать блядь иди отсюда нахуй блядь!,False,True,0.001949,0.997409,ИТТ я буду восстанавливать сей гениальный опус...,Ёб твою мать блядь иди отсюда нахуй блядь!,"['еб', 'твой', 'мать', 'блядь', 'идти', 'отсюд...",блядь,women

In [73]:
res_df.to_csv("concatenated_categories.csv")